body, table, td, th { font: 10pt arial, sans-serif; }
th { font-weight: bold; text-align: left }
td { vertical-align: top }
.menu { font: 8pt ms sans serif, geneva; font-weight: bold; text-align: left; text-decoration: none; color:#005757 }
.small { font: 7pt ms sans serif, geneva; color: Black }
.topic { text-decoration: none }
A:link, A:visited, A:active { color:#005757 }
b { font-weight:bold }
i { font-style:italic;font-weight:bold }
h2 { font: 13pt arial, sans-serif; font-weight:bold; color:#005757 }