<html>
<head>
</head>

<frameset rows="65,*" frameborder="no" border="0" framespacing="0">
    	<frame src="signreg_header.htm" name="header" scrolling="no" marginwidth="0" marginheight="0">
      
      <frameset cols="*,200" frameborder="no" border="0" framespacing="0">
	  <frame src="signreg_content.htm" name="main" scrolling="no" marginwidth="0" marginheight="0">
	  <frame src="signreg_sidebar.htm" name="sidebar" scrolling="no" marginwidth="0" marginheight="0">
      </frameset>

 <noframes>
    <body bgcolor="#000000" text="#FFFFFF" link="#FF0000">
      <h2 align="center">ZANSHIN.net requires a frames capable browser. </h2>
    </body>
 </noframes>
</frameset>
</html>
